<div class="fallback">
    <i class="fa-solid fa-arrow-left" (click)="navigateToLanding()"></i> <a (click)="navigateToLanding()"> Volver a
        ofertas</a>
</div>

<div class="profile">
    <div class="profile-header">
        <div class="profile-pic">
            <img [src]="getImageUrl(employer.logo) || 'sample_pfp.png'" alt="Profile picture">

        </div>
        <div class="profile-info">
            <h4>{{employer.nombre_empresa}}</h4>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{employer.localidad}}</p>
            </div>
        </div>

    </div>
    <div class="title-wrapper">
        <i class="fa-solid fa-key"></i>
        <h4 class="title">Datos Personales</h4>
    </div>

    <div class="personal-info">
        <!-- <div class="info-row">
            <h5>Ubicación: </h5>
            <p></p>
        </div>
        <div class="info-row">
            <h5>Fecha de creación: </h5>
            <p></p>
        </div> -->
        <div class="info-row">
            <h5>Rubro: </h5>
            <p>{{employer.rubro}}</p>
        </div>
        <!-- <div class="info-row">
            <h5>Tamaño de la empresa: </h5>
            <p></p>
        </div> -->
    </div>

    <div class="title-wrapper">
        <i class="fa-solid fa-phone"></i>
        <h4 class="title">Datos de Contacto</h4>
    </div>
    <div class="contact-info">
        <div class="info-row">
            <h5>Teléfono: </h5>
            <p>{{employer.telefono}}</p>
        </div>
        <div class="info-row">
            <h5>Email: </h5>
            <p>{{employer.email_contacto}}</p>
        </div>
        <div class="info-row">
            <h5>Dirección: </h5>
            <p>{{employer.calle}}, {{employer.numero}}</p>
        </div>
    </div>

    <div class="profile-footer">
        @if (isOwnProfile===true) {
        <button class="edit-profile" (click)="navigateToEditProfile()"> <i class="fa-solid fa-pen"></i> Editar
            Perfil</button>
        }
    </div>
</div>