<app-header></app-header>
<div class="container">
    <app-reports></app-reports>
    <div class="container-list">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Ofertas</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-button-toggle-group value="pendiente" (change)="onStateOfferChange($event)">
                    <mat-button-toggle value="pendiente">Pendiente</mat-button-toggle>
                    <mat-button-toggle value="aprobada">Aprobada</mat-button-toggle>
                    <mat-button-toggle value="rechazada">Rechazada</mat-button-toggle>
                </mat-button-toggle-group>
                <div class="list-content">
                    @if (offers.length) {
                    @for (offer of offers; track offer.id) {
                    <!-- <li> -->
                    <div class="profile">
                        <!-- Column 1: Offer Name -->
                        <h1 class="name-work">{{offer.puesto_requerido}}</h1>

                        <!-- Column 2: Company & Location -->
                        <div class="company-info">
                            <div class="profile-pic">
                                <img [src]="getImageUrl(offer.logo) || 'sample_pfp.png'" alt="Profile picture">
                            </div>
                            <div class="company-details">
                                <h4>{{offer.nombre_empresa}}</h4>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>{{offer.localidad}}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Column 3: Date -->
                        <div class="offer-date">
                            <p>Publicada el: {{convertToLocalDate(offer.fecha_publicacion)}}</p>
                        </div>

                        <!-- Column 4: Button & Status -->
                        <div class="action-column">
                            <div class="status-flag">
                                @if (offer.estado_publicacion === 'pendiente') {
                                <h5 class="state-flag"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="M109.23-160 480-800l370.77 640H109.23Zm58.41-33.85h624.72L480-732.31 167.64-193.85Zm313.61-60.56q9.21 0 15.31-6.23 6.11-6.23 6.11-15.43 0-9.21-6.23-15.31-6.23-6.11-15.44-6.11-9.21 0-15.31 6.23t-6.1 15.44q0 9.2 6.23 15.31 6.23 6.1 15.43 6.1Zm-17.04-86.31h33.84v-207.79h-33.84v207.79ZM480-463.08Z"/></svg>Pendiente</h5>
                                } @else if(offer.estado_publicacion === 'rechazada') {
                                <h5 class="state-flag-reject"><svg xmlns="http://www.w3.org/2000/svg" height="30x" viewBox="0 -960 960 960" width="30px"><path d="m336-307.69 144-144 144 144L652.31-336l-144-144 144-144L624-652.31l-144 144-144-144L307.69-624l144 144-144 144L336-307.69ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>Rechazada</h5>
                                } @else {
                                <h5 class="state-flag-check"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>Aprobada</h5>
                                }
                            </div>
                            <div class="offer-btn">
                                <button (click)="navigateToPostulationDetail(offer.id)">Ver Oferta</button>
                            </div>
                        </div>
                    </div>
                    <!-- </li> -->
                    }
                    }

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Empresas</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list-content">
                    @if (employers.length) {
                    @for (employer of employers; track employer.id_usuario) {
                    <li>
                        <div class="profile-employee">
                            <!-- Column 1: Company Name -->
                            <h1 class="profile-name">{{employer.nombre_empresa}}</h1>

                            <!-- Column 2: Location -->
                            <div class="profile-details">
                                <div class="profile-pic">
                                    <img [src]="getImageUrl(employer.logo) || 'sample_pfp.png'" alt="Profile picture">
                                </div>
                                <div class="profile-info">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>{{employer.localidad}}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Column 3: Email -->
                            <div class="profile-info-column">
                                <p>@if(employer.email_contacto === null){Email: No informado}@else{Email:
                                    {{employer.email_contacto}}}</p>
                            </div>

                            <!-- Column 4: Status & Button -->
                            <div class="profile-actions">
                                <div class="status-flag">
                                    @if (employer.estado_aprobacion === 'pendiente') {
                                    <h5 class="state-flag"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="M109.23-160 480-800l370.77 640H109.23Zm58.41-33.85h624.72L480-732.31 167.64-193.85Zm313.61-60.56q9.21 0 15.31-6.23 6.11-6.23 6.11-15.43 0-9.21-6.23-15.31-6.23-6.11-15.44-6.11-9.21 0-15.31 6.23t-6.1 15.44q0 9.2 6.23 15.31 6.23 6.1 15.43 6.1Zm-17.04-86.31h33.84v-207.79h-33.84v207.79ZM480-463.08Z"/></svg>Pendiente</h5>
                                    } @else if(employer.estado_aprobacion === 'rechazada') {
                                    <h5 class="state-flag-reject"><svg xmlns="http://www.w3.org/2000/svg" height="30x" viewBox="0 -960 960 960" width="30px"><path d="m336-307.69 144-144 144 144L652.31-336l-144-144 144-144L624-652.31l-144 144-144-144L307.69-624l144 144-144 144L336-307.69ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>Rechazada</h5>
                                    } @else {
                                    <h5 class="state-flag-check"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>Aprobada</h5>
                                    }
                                </div>
                                <div class="profile-btn">
                                    <button (click)="navigateToProfileEmployer(employer.id_usuario)">Ver Perfil</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                    }
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Ciudadanos</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list-content">
                    @if (employees.length) {
                    @for (employee of employees; track employee.id) {
                    <li>
                        <div class="profile-employee">
                            <!-- Column 1: Full Name -->
                            <h1 class="profile-name">{{employee.nombre}} {{employee.apellido}}</h1>

                            <!-- Column 2: Location -->
                            <div class="profile-details">
                                <div class="profile-pic">
                                    <img [src]="getImageUrl(employee.imagen_url) || 'sample_pfp.png'"
                                        alt="Profile picture">
                                </div>
                                <div class="profile-info">
                                    <div class="location">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>{{employee.localidad}}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Column 3: Date of Birth -->
                            <div class="profile-info-column">
                                <p>@if(employee.fecha_nacimiento === null){Fecha no informada}@else{Nacimiento:
                                    {{employee.fecha_nacimiento}}}</p>
                            </div>

                            <!-- Column 4: CV Status & Button -->
                            <div class="profile-actions">
                                <div class="status-flag">
                                    @if (employee.cv_url === null) {
                                    <h5 class="state-flag"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="M109.23-160 480-800l370.77 640H109.23Zm58.41-33.85h624.72L480-732.31 167.64-193.85Zm313.61-60.56q9.21 0 15.31-6.23 6.11-6.23 6.11-15.43 0-9.21-6.23-15.31-6.23-6.11-15.44-6.11-9.21 0-15.31 6.23t-6.1 15.44q0 9.2 6.23 15.31 6.23 6.1 15.43 6.1Zm-17.04-86.31h33.84v-207.79h-33.84v207.79ZM480-463.08Z"/></svg>Sin CV</h5>
                                    } @else {
                                    <h5 class="state-flag-check"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>CV Adjunto</h5>
                                    }
                                </div>
                                <div class="profile-btn">
                                    <button (click)="navigateToProfile(employee.id_ciudadano)">Ver Perfil</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                    }
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>
<app-footer></app-footer>