.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.container-list{
    width:78%;
}


.profile-header{
    display: flex;
    gap: 0.5rem;
}

.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: black
}

.profile-info > h4, .location > p {
    color: #49454F;
    margin: 0;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.profile{
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // Added subtle shadow
    overflow: hidden;
    display: inline-flex;
    justify-content: left;
    background-color: white;
}
.state-flag{
    color:white;
    background-color: #b3261e;
    font-family: 'Linotte Light';
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.state-flag >  i{
color:white;
}


.detail-categories{
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    font-weight: 100;
    width: fit-content;
    white-space: nowrap;
}

.profile>h1 {
    color: #57AF31;
    font-family: 'Linotte Heavy';

}

i{
     color: #57AF31;
}
li{
list-style: none;
}


/*
.profile {
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // Added subtle shadow
    overflow: hidden;
    display: inline;
    justify-content: center;
}

.profile>h4 {
    color: #57AF31;
    font-family: 'Linotte Bold';
*/

.report-nmb {
    color: #57AF31;
    font-family: 'Linotte Heavy';
    font-size: 4rem;
    margin: 3rem;

}

mat-expansion-panel-header {
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
mat-expansion-panel{
box-shadow: none!important;
}
.mat-expansion-panel-header.mat-expanded{
    background-color: white!important;
}


.list-content {
    display: flex;
    justify-content: left;
    gap: 1rem;
    flex-direction: column;
    padding:1rem;
}

button {
    padding: 1rem;
}

mat-panel-title {
    font-family: 'Linotte Heavy';
}