.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.profile {
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // Added subtle shadow
    overflow: hidden;
    display: inline;
    justify-content: center;
}

.profile>h4 {
    color: #57AF31;
    font-family: 'Linotte Bold';

}

.report-nmb {
    color: #57AF31;
    font-family: 'Linotte Heavy';
    font-size: 4rem;
    margin: 3rem;

}

mat-expansion-panel-header {
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
mat-expansion-panel{
box-shadow: none!important;
}
.mat-expansion-panel-header.mat-expanded{
    background-color: white!important;
}


.list-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}

button {
    padding: 1rem;
}

mat-panel-title {
    font-family: 'Linotte Heavy';
}