<app-header></app-header>
<div class="container">
<app-reports></app-reports>
<!--
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title><h1>Ofertas</h1> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-content">
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title><h1>Empleadores</h1> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-content">
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title><h1>Ciudadanos</h1> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-content">
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
-->
</div>
<app-footer></app-footer>