<app-header></app-header>
<div class="container">
    <app-reports></app-reports>
    <div class="container-list">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Ofertas</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list-content">
                    @if (offers.length) {
                    @for (offer of offers; track offer.id) {
                    <li>
                        <div class="profile">
                            <h1 class="name-work">{{offer.puesto_requerido}}</h1>
                            <div class="offer-data">
                                <div class="profile-header">
                                    <div class="profile-pic">
                                        <img [src]="getImageUrl(offer.logo)  || 'sample_pfp.png'" alt="Profile picture">
                                    </div>
                                    <div class="profile-info">
                                        <h4>{{offer.nombre_empresa}}</h4>
                                        <div class="location">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>{{offer.localidad}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Publicada el: {{convertToLocalDate(offer.fecha_publicacion)}}</p>
                                    </div>
                                </div>

                                <div class="detail-categories">
                                    @if (offer.estado_publicacion === 'pendiente') {
                                    <h5 class="state-flag"><i class="fa-solid fa-circle-exclamation"></i>
                                        Pendiente de aprobación
                                    </h5>
                                    } @else if(offer.estado_publicacion === 'rechazada') {
                                    <h5 class="state-flag-reject"><i class="fa-solid fa-xmark"></i>
                                        Rechazada
                                    </h5>
                                    }
                                    @else {
                                    <h5 class="state-flag-check"><i class="fa-solid fa-check"></i>
                                        Aprobada
                                    </h5>
                                    }
                                </div>
                                <div class="offer-btn">
                                    <button (click)="navigateToPostulationDetail(offer.id)">Ver Oferta</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                    }
                    
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h1>Ciudadanos</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list-content">
                    @if (employees.length) {
                    @for (employee of employees; track employee.id) {
                    <li>
                        <div class="profile-employee">
                            <div class="employee-data">
                                <div class="profile-header-employee">
                                    <div class="profile-pic">
                                        <img [src]="getImageUrl(employee.imagen_url)  || 'sample_pfp.png'"
                                            alt="Profile picture">
                                    </div>
                                    <div class="profile-info-employee">
                                        <h4>{{employee.nombre}} {{employee.apellido}}</h4>
                                        <div class="location-employee">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <p>{{employee.localidad}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="employee-btn">
                                    @if(employee.fecha_nacimiento === null){
                                    <div class="employee-date">
                                        <p>Fecha de nacimiento: No informada</p>
                                    </div>
                                    }@else{
                                    <div class="employee-date">
                                        <p>Fecha de nacimiento: {{convertToLocalDate(employee.fecha_nacimiento)}}</p>
                                    </div>
                                    }
                                    <div class="detail-categories">
                                        @if (employee.cv_url === null){
                                        <h5 class="state-flag"><i class="fa-solid fa-circle-exclamation"></i>
                                            No tiene CV adjunto
                                        </h5>
                                        }@else{
                                        <h5 class="state-flag-check"><i class="fa-solid fa-check"></i>
                                            Tiene CV adjunto
                                        </h5>
                                        }
                                    </div>
                                    <div class="offer-btn">
                                        <button (click)="navigateToProfile(employee.id_ciudadano)">Ver Perfil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                    }
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!--
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title><h1>Empleadores</h1> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-content">
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title><h1>Ciudadanos</h1> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="list-content">
           
        </div>
    </mat-expansion-panel>
</mat-accordion>
-->
</div>
<app-footer></app-footer>