<app-header></app-header>

<!-- TODO: mobile friendly -->
<div class="container">
    <div (click)="navigateToLanding()">
        <i class="fa-solid fa-arrow-left"></i> <a> Volver a ofertas</a>
    </div>

    <div class="postulation-header">
        <div class="profile">
            <h1>Ayudante de cocina</h1>

            <div class="profile-header">
                <div class="profile-pic"></div>
                <div class="profile-info">
                    <h4>Juana Perez</h4>
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Tandil</p>
                    </div>
                </div>
            </div>
        </div>
        <button>POSTULARME</button>
    </div>

    <main>
        <div class="detail-header">
            <h2>Detalle del empleo</h2>
            <div class="detail-categories">
                <h5><i class="fa-solid fa-mug-hot"></i> Gastronomía</h5>
                <h5><i class="fa-solid fa-globe"></i> Presencial</h5>
                <h5><i class="fa-regular fa-clock"></i> Full-time</h5>
            </div>
        </div>

        <div class="detail-description">
            <div class="highlight">
                <h4><i class="fa-regular fa-file-lines"></i> Descripción</h4>
            </div>
            <div class="description-text">
                <p>Renombrada Parrilla incorpora ayudante con experiencia</p>
                <p>Se busca una persona proactiva, dinámica, con ganas de formar parte de un equipo de trabajo
                    estable.</p>
                <p>PRINCIPALES TAREAS:</p>
                <p>• Realizar la mise en place.</p>
                <p>• Preparar, cocinar y despachar los pedidos.</p>
                <p>• Preparar y cocinar la comida del personal.</p>
                <p>• Brindar asistencia al cocinero.</p>
                <p>• Realizar tareas de producción.</p>
                <p>• Cumplir las normas de higiene.</p>
                <p>• Mantener el área de cocina ordenada.</p>
                <p>• Realizar tareas de limpieza al cierre.</p>
                <br>
                <p>Es excluyente contar con experiencia mínima comprobable de dos años y poseer disponibilidad horaria
                    full
                    time.</p>
            </div>

        </div>

        <div class="detail-benefits">
            <div class="highlight">
                <h4><i class="fa-regular fa-heart"></i> Beneficios</h4>
            </div>

            <div class="description-text">
                <p>• Sueldo acorde al convenio Gastronomico</p>
                <p>• Medicina Laboral para el empleado como para el grupo familiar</p>
                <p>• Descuento en productos de la firma</p>
                <p>• Crecimiento y capacitacion constante</p>
                <p>• Descuentos en Gimnasio</p>
            </div>
        </div>
    </main>
    <div>

    </div>
</div>

<app-footer></app-footer>