@use '../../styles.scss' as *;

a{
    font-size: 1.25rem;
    font-weight: 100;
}

h5{
    background-color: $green;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-weight: 100;
}
.pendiente-flag, .reject-flag, .check-flag{
    font-family: 'Linotte Light';
    color:white;
    margin-right:1rem;
}
.pendiente-flag{
  background-color: #e9a426;
}
.reject-flag{
 background-color: #b3261e;
}
.check-flag{
 background-color: #57AF31;
}

.postulation-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.detail-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.detail-categories{
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    font-weight: 100;
    width: fit-content;
    white-space: nowrap;
}
.fallback{
    margin-bottom: 1rem;
    font-family: 'Linotte Light';
    font-size: 1.2rem;
}

.container{
    margin-left: 7.25rem;
    margin-right: 7.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    min-height: 100vh;
}

main{
    margin-top: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
}

h1, h2{
    margin: 0;
    margin-left: 2rem;
    color: $green;
    font-weight: 700;
}

h4, p{
    margin: 0;
    margin-left: 2rem;
}

h4{
color:#49454F;
    }

.highlight{
    width: 137.5%;
    margin-left: -1rem;
    background-color: #ECF8E7;
}

.highlight > h4{
    margin-left: 3rem !important;
    color: $green;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.description-text{
    margin-top: 0.5rem;
}

.fa-location-dot, .fa-arrow-left{
    color: $green !important;
}

h5 > i{
    color: white !important;
}

.profile-header{
    display: flex;
    gap: 0.5rem;
}

.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: black
}

.profile-info > h4, .location > p {
    color: #49454F;
    margin: 0;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.profile{
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.postulation-header > button{
    margin-right: 3rem;
}

button{
    width: 9rem;
    padding: 8px 2px;
    margin-right: 1rem;
    align-self: center;
}

.button-wrapper{
    align-items: center;
    display: flex;
}

.detail-description{
    width: 75%;
}

p{
    font-size: 1rem;
    font-weight: 200;
}

button :hover{
    color: #57AF31 !important;
}
.reject{
    background-color:#b3261e;
}
.reject:hover, i:hover{
   color:#b3261e;
   background-color:#f5f5f5;
}

.delete {
    background-color: transparent;
    width: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.delete i
{
    color: #57AF31 !important;
}

@media (max-width: 600px) {
    .button-wrapper{
        flex-direction: column;
        gap: 0.5rem;
    }

    button{
        width: 200%;
        margin-right: 0;
    }

    .container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .profile, .postulation-header, .detail-header{
        flex-direction: column;
    }
    .postulation-header{
        padding-bottom: 0.5rem;
    }  

    .profile{
        align-items: start;
    }

    .profile-header{
        order: 1;
    }

    .profile>h1, h2{
        order: 2;
        margin: 0;
        text-align: center;
    }

    h2{
        order: 1
    }

    .detail-categories{
        order: 2;
        flex-wrap: wrap;
    }

    h4{
        margin: 0;
    }

    p{
        margin: 0;
        margin-bottom: 1rem;
    }

    .highlight{
        width: 200%;
    }

}