<app-header></app-header>
<div class="fallback">
  <i class="fa-solid fa-arrow-left" (click)="navigateToProfile()"></i> <a (click)="navigateToProfile()">
    Volver a Perfil</a>
</div>
<h3 class="section-title">Datos personales</h3>

<div class="form-container">

  <form [formGroup]="profile" (ngSubmit)="editProfile()">

    <div class="size-form">
      <!-- Campo: Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="profile.get('nombre')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <!-- Campo: Apellido -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" />
        <mat-error *ngIf="profile.get('apellido')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div class="size-form">
      <!-- Campo: Fecha de nacimiento -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="profile.get('fechaNacimiento')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <!-- Campo: Teléfono -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" />
        <mat-error *ngIf="profile.get('telefono')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>


    <div class="size-form">
      <!-- Campo: DNI -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" />
        <mat-error *ngIf="profile.get('dni')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <!-- Campo: CUIL -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CUIL</mat-label>
        <input matInput formControlName="cuil" />
        <mat-error *ngIf="profile.get('cuil')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div class="size-form">
      <!-- Dirección -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Calle</mat-label>
        <input matInput formControlName="calle" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero" />
      </mat-form-field>
    </div>
    <div class="size-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Piso</mat-label>
        <input matInput formControlName="piso" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dpto</mat-label>
        <input matInput formControlName="dpto" />
      </mat-form-field>
    </div>

    <div class="size-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Localidad</mat-label>
        <input matInput formControlName="localidad" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Provincia</mat-label>
        <input matInput formControlName="provincia" />
      </mat-form-field>
    </div>
    <div class="size-form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>País</mat-label>
        <input matInput formControlName="pais" />
      </mat-form-field>

      <!-- Campo: ¿Tenés alguna discapacidad? -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>¿Tenés alguna discapacidad?</mat-label>
        <mat-select formControlName="discapacidad">
          <mat-option value="si">Sí</mat-option>
          <mat-option value="no">No</mat-option>
          <mat-option value="prefiero_no_responder">Prefiero no responder</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="size-form email-input">
      <!-- Campo: Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="profile.get('email')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="profile.get('email')?.hasError('email')">
          Formato de email no válido
        </mat-error>
      </mat-form-field>
      <app-file-uploader></app-file-uploader>
    </div>

    <div>
      <button type="button" class="delete-account-btn" (click)="openDialogDeleteAccount()"
        matTooltip="En el próximo paso vas a confirmar la eliminación">
        <i class="fa-solid fa-trash"></i> Eliminar cuenta</button>
    </div>
    <button mat-raised-button type="submit" [disabled]="profile.invalid">
      Guardar cambios
    </button>
  </form>
</div>
<app-footer></app-footer>