
button{
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 9rem;
    padding: 8px 2px;
}

.no-account {
    text-align: center;
    margin-top: 0;
    padding-bottom: 2rem;

}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header > h3{
    text-align: start;
    margin-bottom: 1rem;
}

input{
    width: 20rem;
    padding-top:0;
}

div > p{
    margin-bottom: 2px;
    padding-bottom: 0;
    margin-left: 2px;
}
 
.img-container{
    margin-top: 2rem;
}
mat-form-field{
    margin-right: 15px;
    width:50%;
}

form {
  width: 60%;
}
.size-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-file-uploader, .email-input{
  width: 100%;
}
div.email-input > mat-form-field {
  width: 97% !important;
}

