.form-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  // align-items: center;
}

form {
  width: 60%;
}

app-file-uploader, .email-input{
  width: 100%;
}

div.email-input > mat-form-field {
  width: 97%;
}

p {
  margin-bottom: 2px;
  padding-bottom: 0;
  margin-left: 2px;
}

button {
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 9rem;
  padding: 8px 2px;
  grid-column: 1 / -1;
}


select {
  border-radius: 5px;
  border: 1px solid #B3B3B3;
  min-height: 1.7rem;
  text-indent: 10px;
}

mat-form-field {
  margin-right: 15px;
  width: 50%;

}

.size-form {
  display: flex;
  justify-content: center;
  width: 100%;
}