.filter-container {
  padding: 1rem;
  margin: 0 auto;
  width:85%;

  mat-card {
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  }
}
  .container-inputs-filter {
    display: flex;
    gap: 0.5rem;
  }

.filter-button svg,
.reset-button svg {
  fill: white,
}

.filter-button:hover svg,
.reset-button:hover svg {
  fill: #57af31,
}

.filter-form {
  display: flex;
  flex-direction: column; // Changed to column for better control
  gap: 1rem;
}

.filter-fields {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between; // Evenly spaces items

  // Ensure all fields grow equally
  .filter-field {
    flex: 1;
    min-width: 0; // Allows fields to shrink properly
  }
}

.mat-mdc-card-content {
  padding-bottom: 0 !important;
}

.filter-field {
  .mat-mdc-form-field {
    width: 100%; // Ensure full width within flex container
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .mat-mdc-form-field-infix {
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    width: 100%; // Ensure full width
  }

  textarea.mat-input-element {
    align-self: center;
    margin-top: 0.75rem;
    min-height: 2.5rem;
  }

  .mat-mdc-select {
    display: flex;
    align-items: center;
    width: 100%; // Ensure full width
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: flex-end; // Align buttons to the right
  padding-bottom: 0.5rem;

  button {
    flex: 0 1 auto; // Don't grow, but can shrink
    min-width: 7.5rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}

@media (max-width: 37.5rem) {
  .filter-field {
    flex: 1 1 100%;

    .mat-mdc-form-field-infix {
      min-height: 3.25rem;
    }
  }

  .filter-fields {
    flex-direction: column;
    gap:0;
  }


  .action-buttons {
    flex-direction: column;

    button {
      width: 100%;
    }
  }
  mat-form-field{
    width: 100%;
  }
   .container-inputs-filter {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .action-buttons {
    justify-content: center;
  }

  .container-inputs-filter {
    display: flex;
    gap: 0.5rem;
  }

  .filter-fields {
    flex-direction: column;
    gap:0;
  }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
  .action-buttons {
    justify-content: center;
  }

  .container-inputs-filter {
    display: flex;
    gap: 0.5rem;
  }

  .filter-fields {
    flex-direction: column;
    gap:0;
  }
}