<app-big-logo></app-big-logo>

<div class="form-container">
    <form [formGroup]="credentials" (ngSubmit)="submit()">
        <div class="form-header">
            <h3>Reseteá tu Contraseña</h3>
        </div>
                <div>
            <p>Contraseña</p>
            <input formControlName="password" type="password"  placeholder="Ingresá tu nueva Contraseña"     name="contrasena" required>
        </div>
            <button type="submit" [disabled]="credentials.invalid">Resetear contraseña</button>
    </form>

</div>