<h2 mat-dialog-title>{{data.title}} </h2>
<mat-dialog-content>{{data.content}}</mat-dialog-content>
<div class="upload-btn">
  @if (file) {
    <p>{{file.name}}</p>
    }
  <app-cv-uploader (cvUploaded)="receiveCv($event)"></app-cv-uploader>
</div>
 <div class=" message-txt">   
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Comentario</mat-label>
     <textarea matInput [(ngModel)]="message" rows="2" cdkTextareaAutosize></textarea>
  </mat-form-field>
</div>
<mat-dialog-actions> 
  <button class="cancel" matButton mat-dialog-close cdkFocusInitial>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button class="delete" (click)="onConfirm()" matButton [mat-dialog-close]="true"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M382-267.69 183.23-466.46 211.77-495 382-324.77 748.23-691l28.54 28.54L382-267.69Z"/></svg> {{data.trueAction}}</button>
</mat-dialog-actions>