<app-header></app-header>
<main>
    @if (jobOffer.id_empresa === currentUserId && jobOffer.id) {
    <div class="list-header">
        <div class="text-wrapper">
            <h1>{{jobOffer.puesto_requerido}}</h1>
        </div>
    </div>
    @if (employees.length) {
    @for (employee of employees; track employee.id) {
    <div class="list-content">
        <div class="user-container">
            <div class="profile-pic">
            </div>
            <div class="username-wrapper">
                <p class="username">{{employee.nombre}}</p>
            </div>
        </div>

        <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur error nemo aperiam
            eligendi possimus
            tempora eaque, eveniet consequuntur dolores unde atque voluptatum fugiat quidem, aliquid esse molestiae
            deleniti debitis autem?</p>

        <div class="button-wrapper">
            <button (click)="navigateToProfile(employee.id)">Ver Perfil</button>
            <button (click)="getCV(employee.cv_url)">Ver CV</button>
        </div>
    </div>
    }
    } @else {
    <h3>No hay postulantes.</h3>
    }
    } @else {
    <h3>Error al cargar oferta.</h3>
    }
</main>
<app-footer></app-footer>