<app-header></app-header>
<main>
    @if (jobOffer?.id_empresa === currentUserId && jobOffer?.id) {
    <div class="list-header">
        <div class="text-wrapper">
            <h1>{{jobOffer?.puesto_requerido}}</h1>
        </div>
    </div>
    @if (postulations.length) {
    @for (postulation of postulations; track postulation.id) {
    <div class="list-content">
        <div class="user-container">
            <div class="profile-pic">
                <!--TODO: usar la pfp correcta -->
                <img [src]="'sample_pfp.png'" alt="Profile picture" matTooltip="Ver perfil">
            </div>
            <div class="username-wrapper">
                <p class="user-field">{{postulation.nombre}}</p>

                <p class="user-field"><i class="fa-solid fa-location-dot"></i> {{postulation.localidad}}</p>
            </div>
        </div>

        <p class="message">{{postulation.mensaje}}</p>

        <div class="button-wrapper">
            <button (click)="navigateToProfile(postulation.perfil_url)">Ver Perfil</button>
            <button (click)="getCV(postulation.cv_url)">Ver CV</button>
        </div>
    </div>
    }
    } @else {
    <h3>No hay postulantes.</h3>
    }
    } @else {
    <h3>Error al cargar ofertas.</h3>
    }
</main>
<app-footer></app-footer>