mat-acordion {
    max-width: 90vw;
    display: block;
    margin-top: 1rem;
}

.profile {
    background-color: white;
    height: fit-content;
    width: 10rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // Added subtle shadow
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile>h4 {
    color: #57AF31;
    font-family: 'Linotte Bold';

}

.report-nmb {
    color: #57AF31;
    font-family: 'Linotte Heavy';
    font-size: 4rem;
}

mat-expansion-panel-header {
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

mat-expansion-panel {
    box-shadow: none !important;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: white !important;
}

.report-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

button {
    display: flex;
    align-items: center;
}

.report-btn svg {
    fill: white;
}

.report-btn:hover svg {
    fill: #57AF31;
}

.list-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}

button {
    padding: 1rem;
}

mat-panel-title {
    font-family: 'Linotte Heavy';
}

@media (max-width: 600px) {
    .list-content {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {

    .profile {
        width: 5rem;

    }

    .profile h4 {
        font-size: 0.6rem;
        font-family: 'Linotte Regular';
    }

    .report-nmb {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    mat-accordion {
        display: flex;
        justify-content: center;
    }
    mat-expansion-panel{
        width: 80%;
    }
       .report-nmb {
        font-size: 2rem;
    }
     .profile h4 {
        font-size: 0.6rem;
        font-family: 'Linotte Regular';
    }
}