<app-big-logo></app-big-logo>

<div class="form-container">
    <form [formGroup]="recovery" (ngSubmit)="submit()">
        <div class="form-header">
            <h3>Recuperá el acceso a tu cuenta</h3>
        </div>
        <div>
            <p>Email de recuperación</p>
            <input  formControlName="email" type="text"  placeholder="Ingresá tu email"     name="email" required>
        </div> 
            <button type="submit" [disabled]="recovery.invalid">Enviar solicitud</button>
    </form>

</div>