<app-header></app-header>
 <div class="fallback">
            <i class="fa-solid fa-arrow-left" (click)="navigateToProfile()"></i> <a (click)="navigateToProfile()">
                Volver a Perfil</a>
        </div>
<h3>Editá tu Formación académica</h3>
<div class="form-container">
    <form [formGroup]="educationForm" (ngSubmit)="editEducationForm()">

        <!-- Nivel Educativo -->
        <div class="separate-inputs">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nivel educativo alcanzado</mat-label>
                <mat-select formControlName="nivel_educativo">
                    <mat-option value="Primario incompleto">Primario incompleto</mat-option>
                    <mat-option value="Primario completo">Primario completo</mat-option>
                    <mat-option value="Secundario incompleto">Secundario incompleto</mat-option>
                    <mat-option value="Secundario completo">Secundario completo</mat-option>
                    <mat-option value="Terciario en curso">Terciario en curso</mat-option>
                    <mat-option value="Terciario completo">Terciario completo</mat-option>
                    <mat-option value="Universitario en curso">Universitario en curso</mat-option>
                    <mat-option value="Universitario completo">Universitario completo</mat-option>
                    <mat-option value="Posgrado">Posgrado</mat-option>
                </mat-select>
                <mat-error *ngIf="educationForm.get('nivel_educativo')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>

            <!-- ¿Está cursando una carrera? -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>¿Está actualmente cursando una carrera?</mat-label>
                <mat-select formControlName="esta_cursando_carrera">
                    <mat-option [value]="true">Sí</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
                <mat-error *ngIf="educationForm.get('esta_cursando_carrera')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>

        </div>
        <div> <!-- Carrera en curso -->
            <div *ngIf="educationForm.get('esta_cursando_carrera')?.value === true">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Carrera en curso</mat-label>
                    <input matInput formControlName="carrera_en_curso" />
                    <mat-error *ngIf="educationForm.get('carrera_en_curso')?.hasError('required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>



        <!-- Capacitaciones -->
        <div class="addEducation-btn">
            <div class="experience-div">
                <button class="experience-btn" type="button" (click)="this.educationForm.get('nombre_capacitacion')?.reset(''); addNewCardEducation = !addNewCardEducation">
                    <i class="fa-solid fa-plus"></i>
                    Agregar nueva capacitación
                </button>

            </div>
        </div>
        <div *ngIf="addNewCardEducation" class="profile">
            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nombre de curso o capacitación</mat-label>
                    <input matInput formControlName="nombre_capacitacion" />
                    <mat-error *ngIf="educationForm.get('nombre_capacitacion')?.hasError('required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            @if(editCardEducation){
            <button class="experience-btn" type="button" (click)="editAcademicBackground()">
                <i class="fa-solid fa-arrow-up-from-bracket"></i> Actualizar capacitación
            </button>
            }@else {
            <button class="experience-btn" type="button" (click)="addEducationForm()">
                <i class="fa-solid fa-arrow-up-from-bracket"></i> Agregar Capacitación
            </button>
            }


        </div>

        <button type="submit">
            Guardar cambios
        </button>
    </form>
</div>

<!-- Lista de formaciones -->
<div class="education-list" *ngIf="formaciones.length > 0">
    <h3>Formaciones agregadas</h3>
    <ul>
        <li *ngFor="let f of formaciones">
            <div class="align-elements">
                <p> {{ f.nombre_capacitacion }}</p>
                <div class="align-elements">
                    <button class="edit-exp-btn" (click)="openFormToEditEducation(f.id, f.nombre_capacitacion)"> <i
                            class="fa-solid fa-pencil"></i> Editar Formación</button>
                    <button class="delete" matTooltip="Eliminar formación" (click)="openDialog(f.id)"> <i
                            class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </li>
    </ul>
</div>
<app-footer></app-footer>