<app-header></app-header>
<div class="container">
    <app-training-link></app-training-link>

    <div class="filter">
        <span (click)="toggleFilter()" class="filter-toggle">
            <i class="fa-solid fa-filter fa-2x"></i>
            <span>{{ showFilter ? ' Ocultar filtros' : ' Mostrar filtros' }}</span>
        </span>
    </div>

    <app-filter (offersLoaded)="handleOffersLoaded($event)" [class.hidden]="!showFilter">
    </app-filter>

    @if (offers.length) {
    <main class="offer-container">
        @for (offer of pagedOffers; track offer.id) {
        <div class="offer-card">
            <div class="card-header">
                <div (click)="navigateToEmpoyerProfile(offer.id_empresa)" class="profile-pic">
                    <img [src]="getImageUrl(offer.logo) || 'sample_pfp.png'" alt="Profile picture"
                        matTooltip="Ver perfil">
                </div>
                <div>
                    <h4 (click)="navigateToEmpoyerProfile(offer.id_empresa)" class="card-user">{{offer.nombre_empresa}}
                    </h4>
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <h5 class="card-location">{{offer.localidad}}</h5>
                    </div>
                </div>
            </div>

            <h3 class="card-title">{{offer.puesto_requerido}}</h3>
            <div class="card-description-wrapper">
                <p class="card-description" [title]="offer.descripcion">{{offer.descripcion}}</p>
            </div>

            <div class="card-footer">
                <div class="card-info">
                    <div>
                        <i class="fa-solid fa-globe"></i>
                        <p class="card-modality">{{offer.lugar_trabajo}}</p>

                    </div>
                    <p class="card-date">Publicado {{offer.fecha_publicacion | date:'longDate' }}</p>

                </div>
                <button class="card-button" (click)="navigateToOffer(offer.id)">Ver Oferta</button>

            </div>
        </div>
        }
    </main>
    <mat-paginator [length]="offers.length" [pageSize]="pageSize" [pageIndex]="currentPage"
        (page)="handlePageEvent($event)">
    </mat-paginator>
    } @else {
    <h3>No hay ofertas disponibles.</h3>
    }

</div>

<app-footer></app-footer>