<footer>
    <div class="footer-logo">
        <div class="small-logo">
            <img src="/Logo.svg" alt="Lobería Logo">
        </div>
    </div>

    <div class="footer-text">
        <h5 class="footer-link" (click)="goToLoberia()">www.loberia.gov.ar</h5>
        <h5 class="footer-address">Calle de Caso 180, Lobería.</h5>
    </div>

    <div class="footer-socials">
        <a href="https://www.facebook.com/municipalidadloberia/" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/muniloberia/" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</footer>