@use '../../styles.scss' as *;

footer{
    width: 100%;
    height: fit-content;
    background-color: $green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.small-logo > svg{
    height: 4.5rem;
}

.footer-logo {
    margin-left: 6rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

img{
    display: block;
}

.footer-text {
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text > h5{
    font-weight: 100;
    margin: 0;
}

.footer-link {
    font-size: 2rem;
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer-socials {
    margin-right: 7rem;
    min-width: 90px;
    flex-shrink: 0;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    flex-wrap: wrap;
}

a{
    color: white;
}

i{
    height: 0.5rem;
    width: 0.5rem;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 1rem 0 0 0;
    }
.footer-logo,
    .footer-socials {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .footer-socials {
        display: flex;
        flex-direction: row; // Ensure horizontal alignment
        justify-content: center; // Center icons horizontally
        width: 100%; // Optional: make it span the width
    }

    .footer-text {
        padding: 0.5rem 0;
    }

    .footer-link {
        font-size: 1rem;
    }
}