@use '../../styles.scss' as *;
@use 'sass:color';
     
.img-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    height: 190px;
    width: 360px;
}

svg{
    fill: $green;
}

.img-container:hover svg {
    filter: brightness(0.8);
    cursor: pointer;
}