<app-header></app-header>
<h3>Creá una nueva oferta</h3>
<div class="form-container">

  <form [formGroup]="offersForm" (ngSubmit)="createOffer()">
    <!-- Puesto requerido -->
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del puesto o cargo</mat-label>
        <input matInput formControlName="puesto_requerido" required>
        <mat-error *ngIf="offersForm.get('puesto_requerido')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- Descripción del puesto -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción del puesto</mat-label>
        <textarea matInput formControlName="descripcion" rows="4" required></textarea>
        <mat-error *ngIf="offersForm.get('descripcion')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- Nivel educativo requerido -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nivel educativo mínimo requerido</mat-label>
        <mat-select formControlName="nivel_educativo_requerido" required>
          <mat-option value="primario">Primario completo</mat-option>
          <mat-option value="secundario">Secundario completo</mat-option>
          <mat-option value="universitario">Universitario</mat-option>
          <mat-option value="no-requiere">No requiere</mat-option>
        </mat-select>
        <mat-error *ngIf="offersForm.get('nivel_educativo_requerido')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- Experiencia requerida -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Experiencia requerida</mat-label>
        <textarea matInput formControlName="experiencia_requerida" rows="3"></textarea>
      </mat-form-field>
    </div>
    <div>
      <!-- Otros requisitos -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Otros requisitos</mat-label>
        <textarea matInput formControlName="otros_requisitos" rows="3"></textarea>
      </mat-form-field>
    </div>
    <div>
      <!-- Lugar de trabajo -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Lugar de trabajo</mat-label>
        <mat-select formControlName="lugar_trabajo" required>
          <mat-option value="Presencial">Presencial</mat-option>
          <mat-option value="Remoto">Remoto</mat-option>
          <mat-option value="Mixto">Mixto</mat-option>
        </mat-select>
        <mat-error *ngIf="offersForm.get('lugar_trabajo')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <!-- Modalidad -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Modalidad</mat-label>
        <mat-select formControlName="modalidad" required>
          <mat-option value="Tiempo completo">Tiempo completo</mat-option>
          <mat-option value="Medio tiempo">Medio tiempo</mat-option>
          <mat-option value="Contrato a plazo fijo">Contrato a plazo fijo</mat-option>
          <mat-option value="Pasantía">Pasantía</mat-option>
          <mat-option value="Freelance">Freelance</mat-option>
        </mat-select>
        <mat-error *ngIf="offersForm.get('modalidad')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <!-- Tipo de contrato -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de contrato</mat-label>
        <input matInput formControlName="tipo_contrato">
      </mat-form-field>

      <!-- Localidad del puesto -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Localidad del puesto</mat-label>
        <input matInput formControlName="localidad_del_puesto" required>
        <mat-error *ngIf="offersForm.get('localidad_puesto')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Fecha de cierre
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Fecha de cierre</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha_cierre" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="offersForm.get('fecha_cierre')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>-->
    <div>
      <button mat-raised-button type="submit" [disabled]="offersForm.invalid">
        Subir oferta
      </button>
    </div>
  </form>


</div>
<app-footer></app-footer>