<app-header></app-header>
<div class="fallback">
  <i class="fa-solid fa-arrow-left" (click)="navigateToProfile()"></i> <a (click)="navigateToProfile()">
    Volver a Perfil</a>
</div>

@if (itemId === "") {
<h3>Creá una nueva oferta</h3>
}@else {
<h3>Editá la oferta</h3>
}
<div class="form-container">

  <form [formGroup]="offersForm" (ngSubmit)="createOffer()">
    <!-- Puesto requerido -->
    <div>
      <div class="size-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre del puesto o cargo</mat-label>
          <input matInput formControlName="puesto_requerido" required maxlength="100">
          <mat-error *ngIf="offersForm.get('puesto_requerido')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Nivel educativo requerido -->
        <mat-form-field appearance="outline">
          <mat-label>Nivel educativo mínimo requerido</mat-label>
          <mat-select formControlName="nivel_educativo_requerido" required>
            <mat-option value="primario">Primario completo</mat-option>
            <mat-option value="secundario">Secundario completo</mat-option>
            <mat-option value="universitario">Universitario</mat-option>
            <mat-option value="no-requiere">No requiere</mat-option>
          </mat-select>
          <mat-error *ngIf="offersForm.get('nivel_educativo_requerido')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <!-- Descripción del puesto -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descripción del puesto</mat-label>
          <textarea matInput formControlName="descripcion" rows="2" required
            placeholder="Describí las tareas que va a realizar el empleado"></textarea>
          <mat-error *ngIf="offersForm.get('descripcion')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <!-- Experiencia requerida -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Experiencia requerida</mat-label>
          <textarea matInput formControlName="experiencia_requerida" rows="2"
            placeholder="Qué condiciones debe cumplir el postulante para ser considerado"></textarea>
        </mat-form-field>
      </div>

      <div>
        <!-- Otros requisitos -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Otros requisitos</mat-label>
          <textarea matInput formControlName="otros_requisitos" rows="2" placeholder="Ej: Movilidad propia"></textarea>
        </mat-form-field>
      </div>

      <div class="size-form">
        <!-- Lugar de trabajo -->
        <mat-form-field appearance="outline" class="margin-input">
          <mat-label>Lugar de trabajo</mat-label>
          <mat-select formControlName="lugar_trabajo" required>
            <mat-option value="Presencial">Presencial</mat-option>
            <mat-option value="Remoto">Remoto</mat-option>
            <mat-option value="Mixto">Mixto</mat-option>
          </mat-select>
          <mat-error *ngIf="offersForm.get('lugar_trabajo')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Modalidad -->
        <mat-form-field appearance="outline">
          <mat-label>Modalidad</mat-label>
          <mat-select formControlName="modalidad" required>
            <mat-option value="Tiempo completo">Tiempo completo</mat-option>
            <mat-option value="Medio tiempo">Medio tiempo</mat-option>
            <mat-option value="Contrato a plazo fijo">Contrato a plazo fijo</mat-option>
            <mat-option value="Pasantía">Pasantía</mat-option>
            <mat-option value="Freelance">Freelance</mat-option>
          </mat-select>
          <mat-error *ngIf="offersForm.get('modalidad')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div class="size-form">
        <!-- Tipo de contrato -->
        <mat-form-field appearance="outline" class="margin-input">
          <mat-label>Tipo de contrato</mat-label>
          <input matInput formControlName="tipo_contrato" maxlength="35">
        </mat-form-field>

        <!-- Localidad del puesto -->
        <mat-form-field appearance="outline">
          <mat-label>Localidad del puesto</mat-label>
          <input matInput formControlName="localidad_del_puesto" required maxlength="35">
          <mat-error *ngIf="offersForm.get('localidad_puesto')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Fecha de cierre
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Fecha de cierre</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha_cierre" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="offersForm.get('fecha_cierre')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>-->
    <div>
      @if (itemId === "") {
      <button mat-raised-button type="submit" [disabled]="offersForm.invalid">
        Subir oferta
      </button>
      } @else {
      <button type="button" class="edit" (click)="editOffer(itemId)">
        Guardar cambios</button>
      }
    </div>
  </form>


</div>
<app-footer></app-footer>