
button{
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 9rem;
    padding: 8px 2px;
}

.no-account {
    text-align: center;
    margin-top: 0;
    padding-bottom: 2rem;

}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header > h3{
    text-align: start;
    margin-bottom: 1rem;
}

input{
    width: 20rem;
    padding-top:0;
}

div > p{
    margin-bottom: 2px;
    padding-bottom: 0;
    margin-left: 2px;
}

.forgotten-password {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

 
.img-container{
    margin-top: 2rem;
}
mat-form-field.full-width {
    margin-right: 15px;
    width: 100%;
}

.mat-mdc-form-field-flex{
    width: 100%;
}