<div class="profile">
    <div class="profile-header">
        <div class="profile-pic"></div>
        <div class="profile-info">
            <h4>Juana Perez</h4>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>Tandil</p>
            </div>
        </div>
    </div>

    <div class="title-wrapper">
        <i class="fa-solid fa-key"></i>
        <h4 class="title">Datos Personales</h4>
    </div>

    <div class="personal-info">
        <div class="info-row">
            <h5>País: </h5>
            <p>Argentina</p>
        </div>
        <div class="info-row">
            <h5>Provincia: </h5>
            <p>Buenos Aires</p>
        </div>
        <div class="info-row">
            <h5>Fecha de Nacimiento: </h5>
            <p>28/10/00</p>
        </div>
        <div class="info-row">
            <h5>DNI: </h5>
            <p>32675890</p>
        </div>
        <div class="info-row">
            <h5>CUIL: </h5>
            <p>40326758909</p>
        </div>
        <div class="info-row">
            <h5>¿Tiene alguna discapacidad?</h5>
            <p>No</p>
        </div>
    </div>

    <div class="title-wrapper">
        <i class="fa-solid fa-phone"></i>
        <h4 class="title">Datos de Contacto</h4>
    </div>
    <div class="contact-info">
        <div class="info-row">
            <h5>Teléfono: </h5>
            <p>+54 9 11 1234-5678</p>
        </div>
        <div class="info-row">
            <h5>Email: </h5>
            <p>juanaperez&#64;gmail.com</p>
        </div>
        <div class="info-row">
            <h5>Dirección: </h5>
            <p>Calle Falsa 123</p>
        </div>
    </div>

    <div class="profile-footer">
        <button class="edit-profile"> <i class="fa-solid fa-pen"></i> Editar Perfil</button>
    </div>
</div>