<div class="profile">
    <div class="profile-header">
        <div class="profile-pic"></div>
        <div class="profile-info">
            <h4>{{employeeData?.name}} {{employeeData?.surname}}</h4>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{employeeData?.location}}</p>
            </div>
        </div>
    </div>

    <div class="title-wrapper">
        <i class="fa-solid fa-key"></i>
        <h4 class="title">Datos Personales</h4>
    </div>

    <div class="personal-info">
        <div class="info-row">
            <h5>País: </h5>
            <p>{{employeeData?.country}}</p>
        </div>
        <div class="info-row">
            <h5>Provincia: </h5>
            <p>{{employeeData?.province}}</p>
        </div>
        <div class="info-row">
            <h5>Fecha de Nacimiento: </h5>
            <p>{{employeeData?.birthdate}}</p>
        </div>
        <div class="info-row">
            <h5>DNI: </h5>
            <p>{{employeeData?.id}}</p>
        </div>
        <div class="info-row">
            <h5>CUIL: </h5>
            <p>{{employeeData?.cuil}}</p>
        </div>
        <div class="info-row">
            <h5>¿Tiene alguna discapacidad?</h5>
            @if (employeeData?.hasDisability) {
            <p>Sí</p>

            } @else {
            <p>No</p>
            }
        </div>
    </div>

    <div class="title-wrapper">
        <i class="fa-solid fa-phone"></i>
        <h4 class="title">Datos de Contacto</h4>
    </div>
    <div class="contact-info">
        <div class="info-row">
            <h5>Teléfono: </h5>
            <p>{{employeeData?.phoneNumber}}</p>
        </div>
        <div class="info-row">
            <h5>Email: </h5>
            <p>{{employeeData?.email}}</p>
        </div>
        <div class="info-row">
            <h5>Dirección: </h5>
            <p>{{employeeData?.address}}</p>
        </div>
    </div>

    <div class="profile-footer">
        <button class="edit-profile" (click)="navigateToEditProfile()"> <i class="fa-solid fa-pen"></i> Editar
            Perfil</button>
    </div>
</div>