<app-header></app-header>
<div class="container">
    <app-employer-profile-sidebar [currentUserId]="currentUserId" [currentUserType]="currentUserType"
        [itemId]="itemId"></app-employer-profile-sidebar>
    <main>
        <div class="main-header">
            <h2>Ofertas</h2>
            <div class="create-offer">
                <i class="fa-solid fa-filter"></i>
                <!-- TODO: solve bug -->
                @if (isOwnProfile) {
                <button (click)="navigateToCreateOffer()">Crear Oferta</button>
                }
            </div>
        </div>
        @for (offer of offers; track offer.id) {
        <div class="postulation">
            <div class="postulation-header">
                <h4>{{offer.puesto_requerido}}</h4>
                <p>Publicado {{offer.fecha_publicacion | date:'longDate'}}</p>
            </div>
            <div class="postulation-body">
                <p>{{offer.descripcion}}</p>
                <button (click)="navigateToPostulationDetail(offer.id)">Ver Oferta</button>
            </div>
        </div>
        }
    </main>

</div>
<app-footer></app-footer>