<app-big-logo></app-big-logo>

<h3>¡Registrate y encontrá tu empleo ideal!</h3>

<main class="form-container">
    <form [formGroup]="registerForm"action="">
        <div>
            <p>Nombre</p>
            <input type="text" formControlName="nombre"  placeholder="Ingresá tu Nombre" name="name" required>
        </div>
        <div> 
            <p>Tipo de usuario</p>
            <select formControlName="tipo_usuario" name="select">
                <option value="tipousuario" selected >Seleccioná un tipo</option>
                <option value="ciudadano" >Postulante</option>
                <option value="empresa">Empresa</option>

            </select></div>
        <div>
            <p>Email</p>
            <input formControlName="email" type="text" placeholder="Ingresá tu email" name="email" required>
        </div>
        <div>
            <p>Contraseña</p>
            <input formControlName="contrasena" type="text" placeholder="Ingresá tu Contraseña" name="password" required>
           
              
        </div>

        <button type="button" class="" (click)="registerUser()">Crear Cuenta</button>
    </form>
</main>