<app-big-logo></app-big-logo>

<h3>¡Registrate y encontrá tu empleo ideal!</h3>

<main class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div>
            <!-- Nombre -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" placeholder="Ingresá tu Nombre" required />
                <mat-error *ngIf="registerForm.get('nombre')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <!-- Tipo de usuario -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tipo de usuario</mat-label>
                <mat-select formControlName="tipo_usuario" required>
                    <mat-option value="">Seleccioná un tipo</mat-option>
                    <mat-option value="ciudadano">Postulante</mat-option>
                    <mat-option value="empresa">Empresa</mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('tipo_usuario')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <!-- Email -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. nombre@ejemplo.com" />
                <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                    Ingresá un email válido
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- Email -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirmar Email</mat-label>
                <input matInput formControlName="confirmEmail" placeholder="Ex. nombre@ejemplo.com" />
                <mat-error *ngIf="registerForm.get('confirmEmail')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="registerForm.hasError('emailMismatch') && registerForm.get('confirmEmail')">
                     Los emails no coinciden
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="contrasena" placeholder="Ingresá tu contraseña" [type]="hide ? 'password' : 'text'"/>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.get('contrasena')?.hasError('required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="registerForm.get('contrasena')?.hasError('minlength')">
                    Debe tener al menos 8 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button type="submit" [disabled]="registerForm.invalid">
            Crear Cuenta
        </button>
    </form>
</main>