@use '@angular/material/prebuilt-themes/indigo-pink.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:color';

/* You can add global styles to this file, and also import other style files */
$green: #57AF31;
$white: #F5F5F5;
$text-color: #49454F;
$font: Linotte, Signika, Montserrat, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label {
    cursor: default;
}

app-root {
    min-height: 100%;
}

button {
    border-radius: 5px;
    background-color: $green;
    text-decoration: none;
    color: $white;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-family: $font;
}


div.upload-btn button[test].color-btn,
.delete-account-btn {
    background-color: transparent !important;
    color: #57AF31 !important;
}

h3 {
    text-align: center;
    color: $text-color;
    font-size: 1.35rem;
    font-weight: 500;
}

.profile-pic {
    background-color: #424242;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden; 
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }
}

button:hover {
    background-color: $white;
    color: $green;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

button.logout-btn {
    margin-top: 0;
    color: #757575 !important;
    background-color: transparent !important;
    display: flex;
}

button.logout-btn:hover {
    box-shadow: none !important;
    color: #57af31 !important;
    ;
}


input {
    border-radius: 5px;
    border: 1px solid #B3B3B3;
    min-height: 1.7rem;
    text-indent: 10px;
}

option {
    min-height: 1.5rem;
}

a {
    text-decoration: none;
    color: $green;
}

a:hover {
    color: color.adjust(#57AF31, $lightness: -10%);
    cursor: pointer;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font;
    background-color: $white;
}

app-footer,
footer {
    margin-top: auto;
}

.mdc-text-field--outlined .mdc-notched-outline__trailing,
.mdc-text-field--outlined .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused.mdc-floating-label {
    border-color: $text-color !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mat-mdc-notch-piece {
    border-color: #f44336 !important;
}

.mat-mdc-radio-button .mat-accent {
    --mdc-radio-selected-icon-color: $green !important;
}

.mat-mdc-raised-button:not(:disabled) {
    color: #ffffff !important;
    background-color: #57AF31 !important;
}

.mdc-tooltip--multiline .mat-mdc-tooltip-surface {
    text-align: center !important;
}

button.delete-account-btn {
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}


button.bell-btn {
    background-color: transparent !important;
    width: 2rem !important;
    margin-top: 0.7rem;
    padding: 0 !important;
}

button>mat-icon.bell-icon {
    color: #57AF31 !important;
}

.mat-badge-content {
    background-color: #c72712 !important;
}