<main>
    <div>
        <div class="title-wrapper">
            <h2>Formacion academica y cursos</h2>
            <button>Agregar Formación</button>
        </div>
        <div class="info-row">
            <h5>Nivel Educativo Alcanzado: </h5>
            <p>Terciario</p>
        </div>
        <div class="info-row">
            <h5>¿Está cursando actualmente una carrera? </h5>
            <p>Sí</p>
        </div>
        <div class="info-row">
            <h5>Carrera en curso: </h5>
            <p>Curso de pastelería</p>
        </div>
        <div class="info-row">
            <h5>Cursos o capacitaciones realizados: </h5>
            <p>Curso de cocina integral - Curso de masa madre</p>
        </div>
    </div>
    <div>
        <div class="title-wrapper">
            <h2>Experiencia laboral</h2>
            <button>Agregar Experiencia</button>
        </div>
        <div class="info-row">
            <h5>Situación laboral actual: </h5>
            <p>Desempleado</p>
        </div>
        <div class="info-row">
            <h5>¿Tiene un emprendimiento propio?</h5>
            <p>No</p>
        </div>
    </div>
</main>


<div class="postulations-header">
    <h1>Postulaciones</h1>
</div>

<div class="postulations">
    <div class="postulation-title">
        <h2>Ayudante de cocina</h2>

        <p class="postulation-date">
            Publicado 16/06/2025
        </p>
    </div>

    <div class="postulations-content">
        <div class="postulations-text-wrapper">
            <p class="postulations-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laborum
                pariatur aut iste at illo, nobis
                minima dignissimos voluptatem facilis possimus vitae maxime eaque ad nam iure, soluta amet. Eaque!
            </p>
        </div>
        <button>Ver Oferta</button>
    </div>

</div>