<main>
    <div>
        <div class="title-wrapper">
            <h2>Formacion academica y cursos</h2>
            @if(getUserType()=== "empresa"){
            <button class="hide-btn" (click)="navigateToAcademicBackgroundEditComponent()"> <i class="fa-solid fa-graduation-cap"></i>
                Editar Formación</button>}
                @else{
                    <button (click)="navigateToAcademicBackgroundEditComponent()"><i class="fa-solid fa-graduation-cap"></i> Editar
                Formación</button>
                }
        </div>
        <div class="info-row">
            <h5>Nivel Educativo Alcanzado: </h5>
            <p>{{employeeData?.nivel_educativo}}</p>
        </div>
        <div class="info-row">
            <h5>¿Está cursando actualmente una carrera? </h5>
            @if (employeeData?.esta_cursando_carrera) {
            <p>Sí</p>
            } @else {
            <p>No</p>
            }
        </div>
        <div class="info-row">
            <h5>Carrera en curso: </h5>
            <p>{{employeeData?.carrera_en_curso}}</p>
        </div>
        <div class="info-row">
            <h5>Cursos o capacitaciones realizados: </h5>
        </div>
        <div class="experiences">
            @for (capacitacion of employeeData?.capacitaciones; track $id) {
            <li>
                <p>{{capacitacion.nombre_capacitacion}}</p>
            </li>
            <mat-divider></mat-divider>
            }
        </div>
    </div>
    <div>
        <div class="title-wrapper">
            <h2>Experiencia laboral</h2>
            @if(getUserType()=== "empresa"){
            <button class="hide-btn" (click)="navigateToWorkExperience()"><i class="fa-solid fa-briefcase"></i> Editar
                Experiencia</button>}
                @else{
                    <button (click)="navigateToWorkExperience()"><i class="fa-solid fa-briefcase"></i> Editar
                Experiencia</button>
                }
        </div>
        <div class="info-row">
            <h5>Situación laboral actual: </h5>
            <p>{{employeeData?.situacion_laboral}}</p>
        </div>
        <div class="info-row">
            <h5>¿Tiene un emprendimiento propio?</h5>
            @if (employeeData?.tiene_emprendimiento) {
            <p>Sí</p>
            } @else {
            <p>No</p>
            }
        </div>
        <div class="experiences">
            <div>
                @for (experiencia of employeeData?.experiencias_laborales; track $id) {
                <li>
                    <p>Nombre de empresa: {{experiencia.nombre_empresa}}</p>
                    <div class="dates">
                        <p>Desde: {{convertToLocalDate(experiencia.desde)}}</p>
                        <p>Hasta: {{convertToLocalDate(experiencia.hasta)}}</p>
                    </div>
                    <p>{{experiencia.comentario}}</p>
                </li>
                <mat-divider></mat-divider>
                }
            </div>
        </div>
    </div>
</main>

<div class="postulations-header">
    <h1>Postulaciones</h1>
</div>

@if (postulations.length) {
@for (p of postulations; track p.id) {
<div class="postulations">
    <div class="postulation-title">
        <h2>{{p.puesto_requerido}}</h2>
        <p class="postulation-date">Postulado el {{convertToLocalDate(p.fecha_postulacion)}}</p>
    </div>
    <div class="postulations-content">
        <div class="postulations-text-wrapper">
            <p class="postulations-text">{{p.descripcion}}</p>
        </div>
        <button (click)="navigateToPostulationDetail(p.id_oferta)">Ver Oferta</button>
    </div>
</div>
}} @else {
<h3>No hay postulaciones.</h3>
}