@use '../../styles.scss' as *;

main, .postulations, .postulations-header{
    background-color: white;
    height: fit-content;
    width: 100%;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08); // Added subtle shadow
}

 .postulations{
    margin-top: 1rem;
}

.postulations-header{
    margin-top: 2rem;
}

button{
    padding: 8px 25px;
    width: 18rem;
    height: fit-content;
    margin-left: 2rem;
    white-space: nowrap;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

p{
    font-weight: 300;
}

h1{
    font-weight: 800;
    color: $green;
    margin: 0;
}

h5, h2{
    font-weight: 500;
}

p, h5{
    color: $text-color;
    font-size: 1rem;
    margin: 0;
}

.title-wrapper, .postulation-title{
    background-color: #ECF8E7;
    padding-left: 0.5rem;
}

.postulation-title{
    display: flex;
    flex: row;
    align-items: center;
    text-align: end;
    gap: 0.5rem;
}
    
h2{
    color: $green;
}

.postulations-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.postulation-date{
    margin-left: auto;
    color: $text-color;
    font-size: 0.75rem;
    margin-right: 1rem;
}