<main>
    <div>
        <div class="title-wrapper">
            <h2>Formacion academica y cursos</h2>
        </div>
        <div class="info-row">
            <h5>Nivel Educativo Alcanzado: </h5>
            <p>Terciario</p>
        </div>
        <div class="info-row">
            <h5>¿Está cursando actualmente una carrera? </h5>
            <p>Sí</p>
        </div>
        <div class="info-row">
            <h5>Carrera en curso: </h5>
            <p>Curso de pastelería</p>
        </div>
        <div class="info-row">
            <h5>Cursos o capacitaciones realizados: </h5>
            <p>Curso de cocina integral - Curso de masa madre</p>
        </div>
    </div>
    <div>
        <div class="title-wrapper">
            <h2>Experiencia laboral</h2>
        </div>
        <div class="info-row">
            <h5>Situación laboral actual: </h5>
            <p>Desempleado</p>
        </div>
        <div class="info-row">
            <h5>¿Tiene un emprendimiento propio?</h5>
            <p>No</p>
        </div>
    </div>
</main>


<div class="postulations-header">
    <h1>Postulaciones</h1>
</div>

<div class="postulations">
    <div class="postulation-title">
        <h2>Ayudante de cocina</h2>

        <p class="postulation-date">
            Publicado 16/06/2025
        </p>
    </div>

    <div class="postulations-content">
        <p>Renombrada Parrilla incorpora ayudante con experiencia. Se busca una persona proactiva, dinámica, con ganas
            de
            formar parte de un equipo de trabajo estable. PRINCIPALES TAREAS: Realizar la mise en place. Preparar,
            cocinar y
            despachar los pedidos. Preparar y cocinar la comida del personal.....</p>

        <button>Ver Oferta</button>
    </div>

</div>