<app-header></app-header>

<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="profile-pic"></div>
            <h4>Juana Perez</h4>
        </div>

        <h4>Datos Personales</h4>
        <div class="personal-info">
            <h5>País: </h5><p>Argentina</p>
            <h5>Fecha de Nacimiento: </h5><p>28/10/00</p>
            <h5>Género: </h5><p>Femenino</p>
            <h5>Estado Civil: </h5><p>Soltero</p>
        </div>

        <h4>Datos de Contacto</h4>
        <div class="contact-info">
            <h5>Teléfono: </h5><p>+54 9 11 1234-5678</p>
            <h5>Email: </h5><p>juanaperez&#64;gmail.com</p>
            <h5>Dirección: </h5><p>Calle Falsa 123</p>
        </div>

        <div class="profile-footer">
            <p class="edit-profile">Editar Perfil</p>
        </div>
    </div>
    
    <main>

    </main>

    <aside>

    </aside>
</div>


<app-footer></app-footer>