@use '../../styles.scss' as *;

.container-profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
    max-width: 90vw;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.fallback > i{
  color:#57AF31;
}
.fallback{
  font-family: 'Linotte Light';
  font-size: 1.2rem;
}

main{
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
}

@media (max-width: 600px) {
  main {
    justify-content: center; // Center container on mobile
  }

  .container {
    flex-direction: column;
    width: 100%; // Ensure full width for centering
    margin: 0 auto; // Center the container itself
  }

  .container-profile{
    flex-direction: column; // Stack items vertically on mobile
    align-items: center; // Center items horizontally
    gap: 0.5rem; // Adjust gap for better spacing on smaller screens
    margin-left: auto;
    margin-right: auto;
  }

  .fallback > i {
    margin-left: 1rem;
  }
}