<app-header></app-header>
<main>

    <div class="container">
        <div class="fallback">
            <i class="fa-solid fa-arrow-left" (click)="navigateToLanding()"></i> <a (click)="navigateToLanding()">
                Volver a
                ofertas</a>
        </div>
        <div class="container-profile">
            <app-profile [employeeData]=employee></app-profile>
            <app-academic-background [employeeData]=employee></app-academic-background>
            @if(getUserType() === 'ciudadano'){
            <app-attatch-cv [hasCV]="employee.cv_url" [name]="employee.nombre"></app-attatch-cv>
            }
        </div>

    </div>
</main>

<app-footer></app-footer>