.profile {
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // Added subtle shadow
  overflow: hidden;
}

.container-experience {
  display: flex;
  justify-content: space-between;

}
div.container-experience > mat-form-field {
  width:100%;

}

.fallback > i{
  color:#57AF31;
}
.fallback{
  font-family: 'Linotte Light';
  font-size: 1.2rem;
  margin-top:1rem;
  margin-left: 3rem;
}

input {
  width: 20rem;
  padding-top: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  margin-bottom: 2px;
  padding-bottom: 0;
  margin-left: 2px;
}

button {
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 9rem;
  padding: 8px 2px;
  grid-column: 1 / -1;
}

button.addExperience-btn {
  width: 15rem;
  margin-bottom: 3rem;

}


.experience-div {
  display: flex;
  justify-content: right;

}

select {
  border-radius: 5px;
  border: 1px solid #B3B3B3;
  min-height: 1.7rem;
  text-indent: 10px;
}

.profile,
.comment {
  width: 100%
}


.addExperience-btn {
  display: flex;
  justify-content: right;
}

button.experience-btn {
  width: 15rem;
  margin-bottom: 1rem;
  color: #57AF31 !important;
  background-color: transparent !important;

}

.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-today {

  background-color: #57AF31 !important;

}

.align-elements {
  display: flex;
  justify-content: space-between;
  color: #424242;
}

.delete {
  background-color: transparent;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.delete i {
  color: #57AF31 !important;
}

.edit-exp-btn {
  width: 100%;
}

.size-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.separate-inputs {
  margin-right: 15px;

}

form {
  width: 60%;
}

div.size-form>mat-form-field {
  width: 50%;

}

li{
list-style:none;
}